html {
    height: fit-content;
}

header{
    background-image: linear-gradient(to right top, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
    font-family: 'Montserrat', sans-serif;
}

body {
    height: 100%;
    background-image: linear-gradient(to right top, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
    font-family: 'Montserrat', sans-serif;
}

h1 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.metrics {
    display: block;
    margin: 0 0 0 60px;
    padding: 10px;
    font-size: 18px;
    font-style: oblique;
}

.metric-title {
    display: block;
    margin: 0 0 0 60px;
    padding: 10px;
    font-size: 18px;
    font-style: oblique;
}
    
textarea[name="user-input"] {
    font-family: 'Montserrat', sans-serif;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 480px;
    height: 180px;
    font-size: 20px;
    font-weight: bold;
    border: none;
    line-height: 1.6;
    padding: 10px 10px;
}

#reset-button {
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    border: none;
    border-radius: 5px;
    width: 150px;
    height: 50px;
    background: white;
}

#reset-button:hover {
    background-color: #d16ba5;
}

#reset-button:active {
    background-color: #5ffbf1;
}

footer {
    text-align: right;
    font-size: 15px;
    margin-right: 10px;

}